* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(./../Assets/swamp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 2;
}